
@font-face {
  font-family: "Avengers";
  src: 
    url("./Avengers.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./Avengers.woff") format("woff"), /* Modern Browsers */
    url("./Avengers.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}